.box {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 20%;
  padding: 15px;
  border: 1px solid black;
  background-color: lightgrey;
}

body {
  background-color: whitesmoke;
}

footer{
  text-align: center;
}